*{
  font-family: 'Open Sans',sans-serif;
}
body{
  margin: 0px;
  background: white;
}

:root{
  --black: #1d1b27;
  --pink: #EE4266;
  --light-green: #f0fcfc;
  --dark-purple: #160d6e;
  --light-grey: #b9cccc;
  --hover-grey: #a6b6b3;
  --lime-green: #87dae5;
  --peach:#fcabe1;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
} 

.title-bar{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  background: var(--black);
  color:white;
  align-items: center;
}

.title-bar>h4{
  margin: 0px; 
}

.game-area{
  display: flex;
  flex-grow: 1;
  
}

.game-content{
  flex: 70%;
  background: var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.game-grid{
  display: grid;
  grid-template-columns: repeat(15,35px);
  grid-template-rows: repeat(15,35px);
  gap:1px;
}

.number-box{
  background: var(--light-grey);
    cursor: pointer;
    transition: 200ms;
    border-radius: 0.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
  &:hover{
    background: var(--hover-grey);
  }
}

.time-details{
  display: flex;
  flex-direction: column;
  flex:30%;
}


.timer{
  flex: 30%;
  background: var(--lime-green);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.timer-numbers{
  margin: 0px;
  color: var(--dark-purple);
}

.time-history{
  flex: 70%;
}

.button{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.play_arrow{
  background: var(--dark-purple);
  color: var(--light-green);
  font-weight: 500;
  width: 5rem;
  font-family: 'Open Sans',sans-serif;
  border: solid transparent;
  border-radius: 1rem;
}




@media screen and (max-width:500px) {
  .game-area{
    flex-direction: column-reverse; 
    flex: 95%;
  }
  .time-history{
    display: none;
  }
  .time-details{
    flex:15%;
  }
  .game-content{
    flex: 85%;
  }
  .title-bar{
    flex:5%;
  }
  .game-grid{
    grid-template-columns: repeat(10,35px);
    grid-template-rows: repeat(10,35px);
  }
  
}
