*{
  font-family: 'Open Sans',sans-serif;
}
body{
  margin: 0px;
  background: white;
}

:root{
  --black: #1F271B;
  --pink: #EE4266;
  --light-green: #F3FCF0;
  --dark-purple: #540D6E;
  --light-grey: #bdccb9;
  --hover-grey: #aab6a6;
  --lime-green: #A0D48E;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
} 

.title-bar{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  background: var(--black);
  color:white;
}

.game-area{
  display: flex;
  flex-grow: 1;
  
}

.game-content{
  flex: 70%;
  background: var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 0.5rem; 
}

.game-grid{
  display: grid;
  grid-template-columns: repeat(15,30px);
  grid-template-rows: repeat(15,30px);
  gap:1px;
}

.number-box{
  background: var(--light-grey);
    cursor: pointer;
    transition: 200ms;
    border-radius: 0.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
  &:hover{
    background: var(--hover-grey);
  }
}

.time-details{
  display: flex;
  flex-direction: column;
  flex:30%;
}


.timer{
  flex: 30%;
  background: var(--lime-green);
}

.time-history{
  flex: 70%;
}

.button{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.play_arrow{
  background: var(--dark-purple);
  color: var(--light-green);
  font-weight: 500;
  width: 5rem;
  font-family: 'Open Sans',sans-serif;
  border: solid transparent;
  border-radius: 1rem;
}




@media screen and (max-width:500px) {
  .game-area{
    flex-direction: column-reverse; 
    flex: 95%;
  }
  .time-history{
    display: none;
  }
  .time-details{
    flex:15%;
  }
  .game-content{
    flex: 85%;
  }
  .title-bar{
    flex:5%;
  }
  .game-grid{
    grid-template-columns: repeat(10,30px);
    grid-template-rows: repeat(10,30px);
  }
  
}
